body {
  font-family: sans-serif;
  width: 800px;
  margin: 1em auto;
}

body, a, a:focus, a:active {
  color: #333;
}

.nav {
  text-align: center;
  margin-bottom: 2em;
}
.nav h1 {
  margin-bottom: .5em;
}

.nav a {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #555;
}

.nav a:hover {
  background-color: #bbb;
}
.nav a.active {
  background-color: #555;
}

text {
  fill: white !important;
}

h1 {
  color: #f86c55;  
}

.company-list {
  width: 400px;
  float: left;
  margin-bottom: 2em;
  padding: 0;
  list-style-type: none;
}
  .company-list a {
    display: block;
    padding: 0.4em;
    text-decoration: none;
  }
  .company-list a:hover {
    background-color: #eee;
  }
  .company-list a.active {
    background-color: #f86c55;
    color: white;
  }

select {
  float: right;
  margin-top: 1em;
  position: relative;
}

.bubble-chart {
  float: left;
  width: 400px;
  margin-top: -40px;
}
  .bubble-chart .node {
    cursor: pointer;
  }
  .bubble-chart circle {
    fill: #f8f8f8 !important;
    stroke: #bbb;
    stroke-width: 2px;
  }
  .bubble-chart .node:hover circle {
    stroke: #f86c55;
  }
  .bubble-chart text {
    fill: #f86c55 !important;
    font-size: 12px;
  }
  .bubble-chart .node.active circle {
    fill: #f86c55 !important;
  }
  .bubble-chart .node.active text {
    fill: white !important;
  }
.detail {
  clear: both;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em;
  margin-top: 2em;
}
  .detail h2 {
    margin-top: 0;
  }