<div class="nav">
  <h1>Ember & D3</h1>
  <a href=""></a>
  <a href=""></a>
  <a href=""></a>
  <a href=""></a>
  <a href=""></a>
  <a href=""></a>
  <a href=""></a>
  <a class='active' href="/"></a>
</div>

{{outlet}}
