<ul class="company-list">
	{{#each}}
	<li>{{link-to name 'company' this}}</li>
	{{/each}}
</ul>

{{view Ember .Select
	content=items
	value=selectedItem}}

{{bubble-chart data=chartData action='selectCompany' selectedBubble=selectedCompanyIndex}}

<div class="detail">
	{{outlet}}
</div>
