{{bar-chart width=560 height=350 data=content}}
{{donut-chart width=200 height=200 data=content}}

<br><br>
<button {{action 'changeNumbers'}}>change numbers</button>   
<button {{action 'removeObject' content.lastObject}}>remove data</button>